<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="index"> <img src="drivetest-main-logo.png" alt="" width="160" height="80"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/?type=driver">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gtest">Book  G test</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/g2test">Book  G2 test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view">View Booked Appointments</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
          <a class="btn btn-warning" href="/?func=logout" id="logout">Logout</a>
      </div>
    </div>
</nav>
